<div class="jumbotron text-center">
  <div class="container">
      <h1>Deadbydaylight</h1>
      <p><img src="https://upload.wikimedia.org/wikipedia/en/b/b7/Dead_by_Daylight_Steam_header.jpg"></p>
     <div style="font-size: 95%;">A group of survivors – anywhere from one to four players (typically four) – must elude one player who is the killer in an enclosed area at night which will either be a secluded forest, an abandoned junkyard, a decrepit cornfield, a haunted asylum, a gas station, a dark swamp or the small town of Haddonfield, Illinois. The survivors’ perspectives are third-person, while the killer’s perspective is first-person.</div>
        <h2>Number Of Users:3002</h2>
        <h2>Behaviour Interactivet</h2>
        <h3>Platform Supported</h3>
        <li><span class="nowraplinks">PC</span></li>
        <li><span class="nowraplinks">PlayStation 4</span></li>
        <li><span class="nowraplinks">Xbox One</span></li>
        <h3>Characters You Can Choose</h3>
        <select class="container" type="text">
      <option value="Survivors"><b>Survivors</b></option>
      <option value="Killer"><b>Killer</b></option>
      
      
      
    </select>

