<div class="jumbotron text-center">
  <div class="container">
    <h2>Most Popular Games</h2>
          


  <figure class="">
    <a title="destiny" href="/destiny">
        <a [routerLink]="['/destiny']"></a><img src="https://cdn.lfg.pub/images/activities/destiny/icon.jpg" class="figure-img img-fluid img-rounded" alt="destiny">
</a>
  </figure>
  <a title="destiny" href="/destiny">
      <h3 class="title">
        Destiny
      </h3>
</a>

          

  <figure class="">
    <a title="Dark Souls 3 - LFG, LFM &amp; LFT" href="/darksouls">
        <a [routerLink]="['/darksouls']"></a><img src="https://cdn.lfg.pub/images/activities/dark-souls-3/icon.jpg" class="figure-img img-fluid img-rounded" alt="Dark Souls 3 - LFG, LFM &amp; LFT">
  </a>
  </figure>
  <a title="Dark Souls 3 - LFG, LFM &amp; LFT" href="/darksouls">
      <h3 class="title">
        Dark Souls 3
      </h3>
</a>

          


  <figure class="">
    <a title="diablo-3 - LFG, LFM &amp; LFT" href="/diablo">
        <a [routerLink]="['/diablo']"></a><img src="https://cdn.lfg.pub/images/activities/diablo-3/icon.jpg" class="figure-img img-fluid img-rounded" alt="diablo - LFG, LFM &amp; LFT">
</a>
  </figure>
  <a title="diablo-3 - LFG, LFM &amp; LFT" href="/diablo">
      <h3 class="title">
        Diablo-3
      </h3>
</a>

          


  <figure class="">
    <a title="dead-by-daylight - LFG, LFM &amp; LFT. Team up!" href="/deadbydaylight">
        <a [routerLink]="['/deadbydaylight']"></a><img src="https://cdn.lfg.pub/images/activities/dead-by-daylight/icon.jpg" class="figure-img img-fluid img-rounded" alt="diablo3 - LFG, LFM &amp; LFT. Team up!">
</a>
  </figure>
  <a title="dead-by-daylight - LFG, LFM &amp; LFT. Team up!" href="/deadbydaylight">
      <h3 class="title">
        Dead-by-daylight
      </h3>
</a>
</div>
</div>
    

