<div class="jumbotron text-center">
  <div class="container">
      <h1>DarkSouls3 Details</h1>
      <p><img src="https://upload.wikimedia.org/wikipedia/en/b/bb/Dark_souls_3_cover_art.jpg"></p>
     <div style="font-size: 95%;">The bell is the last hope for the Age of Fire, raising previous Lords of Cinder, heroes who have linked the flame across aeons to attempt to link the fire again. However, all but one Lord abandon their thrones rather than linking the fire again.</div>
        <h2>Number Of Users:2</h2>
        <h2>Publisher: FromSoftware</h2>
        <h3>Platform Supported</h3>
        <li><span class="nowraplinks">PC</span></li>
        <li><span class="nowraplinks">PlayStation 4</span></li>
        <li><span class="nowraplinks">Xbox One</span></li>
        <h3>Characters You Can Choose</h3>
        <select class="container" type="text">
      <option value="Champion of Ash"><b>Champion of Ash</b></option>
      <option value="Fire Keeper"><b>Fire Keeper</b></option>
      <option value="Ludleth of Courland"><b>Ludleth of Courland</b></option>
      <option value="Yuria of Londor"><b>Yuria of Londor</b></option>
      <option value="Anri of Astora"><b>Anri of Astora</b></option>
      
      
      
    </select>

