<div class="jumbotron text-center">
  <div class="container">
    <h1>Join The Game Now!</h1>
    <p>Access the hottest games available</p>
    <h2>Welcome to Our Websites!</h2>
    <h3><small>Create or join game lobbies and find like-minded gamers for your group. Find the game you want to play after log in your account.</small></h3>
    <p><a (click)="login()"><img src="assets/img/google.png"></a></p>
    <p><a routerLink="/login" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a></p>
  </div>
</div>
