<div class="jumbotron text-center">
  <div class="container">
      <h1>Destiny Details</h1>
      <p><img src="https://upload.wikimedia.org/wikipedia/en/b/be/Destiny_box_art.png"></p>
     <div style="font-size: 95%;">Cover art featuring the game's three character classes: Warlock (left), Hunter (center), and Titan (right). The spherical Traveler is in the background.</div>
        <h2>Number Of Users:1</h2>
        <h2>Publisher: Activision</h2>
        <h3>Platform Supported</h3>
        <li><span class="nowraplinks">PlayStation 3</span></li>
        <li><span class="nowraplinks">PlayStation 4</span></li>
        <li><span class="nowraplinks">Xbox 360</span></li>
        <li><span class="nowraplinks">Xbox One</span></li>
        <h3>Characters You Can Choose</h3>
        <select class="container" type="text">
      <option value="Hunte"><b>Hunter</b></option>
      <option value="Warlock"><b>Warlock</b></option>
      <option value="Titan"><b>Titan</b></option>
    </select>

        
      
