<div class="jumbotron text-center">
<div class="form-container">
  <h2>Login With Your Accounts</h2>
    <span class="error" *ngIf="error">{{ error }}</span>
  <p><button class="btn btn-lg btn-primary btn-block" (click)="loginFb()" id="fb">Login With Facebook</button><br></p>
  
  <p><button class="btn btn-lg btn-black btn-block"(click)="loginGoogle()" id="google">Login With Google</button><br></p>
  <p><button class="btn btn-lg btn-black btn-block" routerLink="/login-email" id="email">Email</button></p>
        
  <a routerLink="/signup" routerLinkActive="active" class="alc"><br>No account? <strong>Create one here</strong></a>
  
</div>
</div>

